# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment
.env
.env.*
!.env.example

# Local mail/ticket artefacts written by the dev email transport
server/.mailbox

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
